@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Shantell+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;

}
li{
  list-style: none;

}
.section{
  padding:4rem 0 2rem;
}

.containers{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
} 
.grid{
    display: grid;
    align-items: center;
}

.btn{
  padding: .6rem 1.5rem;
  background: linear-gradient(90deg, #1CB5E0 0%, #2735af 100%);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a{
  color: hsl(187, 85%, 43%);
}
img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

body{
  background: rgb(240,240,246);
}

@media screen and (min-width: 1240px) {
  .containers{
    width: 80% !important;
    margin: auto !important;
  }
  
  .section{
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width:2560px) {
  body{
    zoom:1.7;
  }
  
}